body{
	background-image: url("..//images/snow.jpg");
}


.para{
	height: auto;
	align-content: center;
	position: relative;
	bottom: 10px;
	z-index: -1;
	
	
}

.first{
	font-size: 60px;	
	color: yellow;
	text-align: center;

}

.para-2{
	
	position: relative;
	bottom: 55px;	

}
.second{
	color: red;
	font-size: 25px;
	text-align: center;

}

.nav ul{
	list-style-type: none;
	padding: 10px;
	margin: 150px;
    overflow: hidden;
}

li{
	float: left;

}

li a, .mywork{
	display: inline-block;
	text-align: center;
	font-size: 30px;
	padding: 5px;
	margin: 30px;
	color: #fff;
	text-decoration: none;
	
}



li a:hover{
	color: #ff0;
}

.media{
	position: relative;
	bottom: 100px;
	align-self: center;
	text-align: center;
}	

.facebook{
	margin: 50px;

	
}

.gmail{
	margin: 50px;
}

.footer{
	position: relative;
	top: 30px;
	font-size: 30px;
	background-color: black;
	color: white;
	text-align: center;
	
}

.drop{
	display: none;
	position: absolute;
	color: white;	
}	

.drop a{
	color: white;
	text-align: left;
	text-decoration: none;
	display: block;
	font-size: 20px;
	position: relative;
	bottom: 40px;
	margin: 0 0 0 33px;
}
.dropdown{
	display: inline-block;
}

.dropdown:hover .drop{
	display: block;
}

.drop a:hover {
	background-color: red;

}